body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.off-canvas {
  z-index: 0;
}

img.thumbnail {
  display: block;
  max-width: 200px !important;
  max-height: 100px !important;
  width: auto;
  height: auto;
}

img.main {
  max-width: 870px !important;
  max-height: 435px !important;
}

#head-photo {
  margin-top: 5px;
}
ul {
  list-style: none;
  li {
    margin-left: 4px;
  }
}

.CircularProgressbar {
  max-width: 30vh;
  max-height: auto;
  margin-top: 10%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: round;
}

.score-green {
  stroke: green;
}

.score-yellow {
  stroke: yellow;
}

.score-red {
  stroke: red;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: lightgrey;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: black;
  stroke: white;
  font-size: 4vh;
  dominant-baseline: middle;
  text-anchor: middle;
}

